<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/5db68e0c-25ee-438c-939d-64b85dd15127/resourcegroups/VideoDownloaderAPI20241005161458ResourceGroup/providers/Microsoft.ContainerRegistry/registries/VideoDownloaderAPI20241005161458</ResourceId>
    <ResourceName>VideoDownloaderAPI20241005161458</ResourceName>
    <ResourceGroup>VideoDownloaderAPI20241005161458ResourceGroup</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://videodownloaderapi20241005161458.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>386d3c1c-bea5-42f0-85ad-7299cbbed4d5</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>